<ion-view view-title="Entrée">

    <ion-content scroll="false">

        <div class="card">

            <a href="#/recettequiche">
                <div class="item item-text-wrap">
                    <h2>Quiche tatin</h2>
                </div>
            </a>

            <a href="#/recettechevre">
                <div class="item item-text-wrap">
                    <h2>Chèvre en feuilletée</h2>
                </div>
            </a>

            <a href="#/recettesoupe">
                <div class="item item-text-wrap">
                    <h2>Soupe au potiron</h2>
                </div>
            </a>

            <a href="#/recettecake">
            <div class="item item-text-wrap">
                <h2>Cake au jambon et aux olives</h2>
            </div>
            </a>

            <a href="#/recettebruschetta">
                <div class="item item-text-wrap">
                    <h2>Bruschetta aux tomates</h2>
                </div>
            </a>

        </div>


    </ion-content>

</ion-view>