<ion-view view-title="Home">

    <ion-content scroll="false">

        <div class="logo">
            <img class="logochef" src="../img/logo.png">
        </div>

    <div class="categorie">

        <div class="categorie2">

            <div class="buttonhaut">

                <a href="#/entree"><button class="button" id="entree" > Entrée </button></a>

            </div>

            <div class="buttonmilieu">

                <a href="#/platchaud"><button class="button"  id="platchaud"> Plat Chaud </button></a>

                <a href="#/platfroid"><button class="button" id="platfroid"> Plat Froid </button></a>

            </div>

            <div class="buttonbas">

                <a href="#/patisserie"><button class="button" id="patisserie"> Pâtisserie </button></a>

            </div>

        </div>

    </div>

    </ion-content>

</ion-view>