<ion-view view-title="Pâtisserie">

    <ion-content class="padding">

            <div class="card">

                <a href="#/recettecrumble">
                    <div class="item item-text-wrap">
                        <h2>Crumble aux pommes</h2>
                    </div>
                </a>

                <a href="#/recettemeringue">
                    <div class="item item-text-wrap">
                        <h2>Meringue française</h2>
                    </div>
                </a>

                <a href="#/recettegateauchoco">
                    <div class="item item-text-wrap">
                        <h2>Gâteau au chocolat</h2>
                    </div>
                </a>

                <a href="#/recettefondant">
                    <div class="item item-text-wrap">
                        <h2>Fondant au chocolat</h2>
                    </div>
                </a>

                <a href="#recettegateauyahourt">
                    <div class="item item-text-wrap">
                        <h2>Gateau au yaourt</h2>
                    </div>
                </a>

                <a href="#recettetartefraise">
                    <div class="item item-text-wrap">
                        <h2>Tarte aux Fraises</h2>
                    </div>
                </a>

                <a href="#tartecitron">
                    <div class="item item-text-wrap">
                        <h2>Tarte aux Pommes</h2>
                    </div>
                </a>


            </div>

    </ion-content>

</ion-view>