<ion-view view-title="Plat Froid">

    <ion-content scroll="false">

        <div class="card">

            <a href="#/recettesaladepate">
                <div class="item item-text-wrap">
                    <h2>Salade de pâtes</h2>
                </div>
            </a>

            <a href="#/recettesaladeriz">
                <div class="item item-text-wrap">
                    <h2>Salade de riz</h2>
                </div>
            </a>

            <a href="#/recettegaspacho">
                <div class="item item-text-wrap">
                    <h2>Gaspacho</h2>
                </div>
            </a>

        </div>

    </ion-content>

</ion-view>