<ion-view view-title="Plat Chaud">

    <ion-content scroll="false">

        <div class="card">

            <a href="#/recettefilet">
                <div class="item item-text-wrap">
                    <h2>Filet mignon</h2>
                </div>
            </a>

            <a href="#/recettebourguignon">
                <div class="item item-text-wrap">
                    <h2>Boeuf Bourguignon</h2>
                </div>
            </a>

            <a href="#/recettegratin">
                <div class="item item-text-wrap">
                    <h2>Gratin Dauphinois</h2>
                </div>
            </a>

            <a href="#/recettecurry">
                <div class="item item-text-wrap">
                    <h2>Poulet au curry et noix de coco</h2>
                </div>
            </a>

            <a href="#/recettecourgette">
                <div class="item item-text-wrap">
                    <h2>Tarte courgettes-chèvre</h2>
                </div>
            </a>

        </div>

    </ion-content>

</ion-view>