<ion-view view-title="Tarte courgettes & chèvre">

    <ion-content class="padding">


        <h1>Tarte courgettes & chèvre</h1>

        <img src="../img/tarte_courgettechevre.jpg" class="imgrecette">

        <p class="gras">Temps de préparation : 20 minutes</p>

        <p class="gras">Temps de cuisson : 20 minutes</p>

        <p class="gras">Ingrédients (pour 6 personnes) :</p>

        <ul>
            <li>- 3 courgettes de taille moyenne</li>
            <li>- 400 g de bûche de chèvre</li>
            <li>- 1 pâte feuilletée</li>
            <li>- 12 feuilles de menthe fraîche</li>
        </ul><br>

        <p class="gras">Préparation de la recette :</p>

        <p>Couper les courgettes en cubes.</p>

        <p>Faire revenir dans une sauteuse, pendant 5 minutes, avec un peu d'huile d'olive, les courgettes. Saler et poivrer.</p>

        <p>Etaler le fond de pâte dans un moule à tarte. Piquer légèrement le fond.</p>

        <p>Couper en tranches épaisses la bûche de chèvre (ne pas retirer la croûte).</p>

        <p>Mettre les tranches de bûche de chèvre sur le fond de pâte.</p>

        <p>Recouvrir avec les courgettes sautées.</p>

        <p>Saler & poivrer.</p>

        <p>Ciseler de la menthe fraîche sur le tout.</p>

        <p>Faire cuire à 220°C pendant environ 30 minutes. Servir tiède.</p>


    </ion-content>

</ion-view>