<ion-view view-title="Gaspacho">

    <ion-content class="padding">


        <h1>Gaspacho</h1>

        <img src="../img/gaspacho.jpg" class="imgrecette">

        <p class="gras">Temps de préparation : 15 minutes</p>

        <p class="gras">Temps de cuisson : Pas de cuisson</p>

        <p class="gras">Ingrédients (pour 5 personnes) :</p>

        <ul>
            <li>- 6 tomates mures</li>
            <li>- 1 concombre</li>
            <li>- 1 poivron rouge</li>
            <li>- 1 poivron jaune</li>
            <li>- 2 petits oignons</li>
            <li>- 1 gousse d'ail</li>
            <li>- 3 jus de citrons (ou plus, selon les goûts)</li>
            <li>- 6 cuillères à soupe de vinaigre</li>
            <li>- Huile d'olive (1/2 verre)</li>
            <li>- Basilic</li>
            <li>- Piment en poudre</li>
            <li>- Poivre et sel</li>
            <li>- 1 verre d'eau</li>
            <li>- Glaçons (facultatif)</li>
        </ul><br>

        <p class="gras">Préparation de la recette :</p>

        <p>Laver les légumes et ôter la peau du concombre, épépiner les poivrons.</p>

        <p>Mixer en une ou plusieurs fois (selon la capacité de votre mixeur) tous les ingrédients, en prenant bien soin de réduire en purée l'ail et l'oignon.</p>

        <p>Ajouter de l'eau si la mixture est trop épaisse, l'huile, le vinaigre et le jus de citron et le basilic puis assaisonner.</p>

        <p>Bien mélanger et mettre au frigo au moins une heure, avec ou sans glaçons.</p>

        <p>Pour une préparation sans pulpe, une fois la recette réalisée, verser la préparation au travers d'une passoire avant de mettre au frais .</p>

    </ion-content>

</ion-view>