<ion-view view-title="Soupe au potiron">

    <ion-content class="padding">


        <h1>Soupe au potiron</h1>

        <img src="../img/soupe_potiron.jpg" class="imgrecette">

        <p class="gras">Temps de préparation : 25 minutes</p>

        <p class="gras">Temps de cuisson : 60 minutes</p>

        <p class="gras">Ingrédients (pour 6 personnes) :</p>

        <ul>
            <li>- 1 kg potiron</li>
            <li>- 300 g de carottes</li>
            <li>- 200 g d'oignons</li>
            <li>- 200 g de poireaux</li>
            <li>- Beurre</li>
            <li>- 3 gousses d'ail</li>
            <li>- 1 bouquet garni</li>
            <li>- 40 cl de crème fraîche</li>
            <li>- Sel</li>
        </ul><br>

        <p class="gras">Préparation de la recette :</p>

        <p>Tailler les légumes en gros dés. Les faire suer dans le beurre.</p>

        <p>Mouiller avec 1,5 l d'eau. Ajouter l'ail écrasé et le bouquet garni. Cuire 1 heure. </p>

        <p>Passer au moulin à légume ou au mixer. Ajouter la crème fraîche, et servir chaud. </p>

    </ion-content>

</ion-view>