<ion-view view-title="Tarte aux fraises">

    <ion-content class="padding">


        <h1>Tarte aux fraises</h1>

        <p class="gras">Temps de préparation : 15 minutes</p>

        <p class="gras">Temps de cuisson : 20 minutes</p>

        <p class="gras">Ingrédients / pour 6 personnes</p>
        <ul>
            pour la pâte sablée :
            <li>- 250 g de farine</li>
            <li>- 125 g de beurre</li>
            <li>- 70 g de sucre</li>
            <li>- 2 jaunes d'oeufs</li>
            <li>- 5 cl d'eau</li>
            <li>- 1 pincée de sel</li>

            <br>
            pour la crème pâtissière :
            <li>- 25 cl de lait</li>
            <li>- 1 oeuf</li>
            <li>- 30 g de farine</li>
            <li>- 40 g de sucre</li>
            <li>- 1 sachet de sucre vanillé</li>
        </ul><br>

        <p class="gras">Préparation de la recette :</p>

        <p class="gras">Pâtes:</p>
        <p>Blanchir les jaunes et le sucre au fouet et détendre le mélange avec un peu d'eau.</p>
        <p>Mélanger au doigt la farine et le beurre coupé en petites parcelles pour obtenir une consistance sableuse et que tout le beurre soit absorbé (!!! Il faut faire vite pour que le mélange ne ramollisse pas trop!).</p>
        <p>Verser au milieu de ce "sable" le mélange liquide.</p>
        <p>Incorporer au couteau les éléments rapidement sans leur donner de corps.</p>
        <p>Former une boule avec les paumes et fraiser 1 ou 2 fois pour rendre la boule + homogène.</p>
        <p>Foncer un moule de 25 cm de diamètre avec la pâte, garnissez la de papier sulfurisé et de haricots secs.</p>
        <p>Faire cuire à blanc 20 à 25 min, à 180°C (thermostat 6).</p>
        <p>NB: après baisser le four à 120°C/150°C environ pour la meringue.</p><br><br>
        <p class="gras">CRÈME PÂTISSIÈRE :</p>
        <p>Mettre le lait à bouillir avec le parfum choisi (vanille ou autre).</p>
        <p>Travailler l'oeuf avec le sucre jusqu'à ce que la pâte fasse le ruban, ajouter la farine.</p>
        <p>Verser le lait bouillant sur le mélange en tournant bien.</p>
        <p>Remettre dans la casserole sur le feu.</p>
        <p>Faire cuire en tournant très soigneusement.</p>
        <p>Retirer après ébullition.</p>
        <p>Verser la crème sur le fond de tarte et disposer joliment les fraises coupées en 2.</p>


    </ion-content>

</ion-view>