<ion-view view-title="Poulet au curry et noix de coco">

    <ion-content class="padding">


        <h1>Poulet au curry et noix de coco</h1>

        <img src="../img/curry.jpg" class="imgrecette">

        <p class="gras">Temps de préparation : 15 minutes</p>

        <p class="gras">Temps de cuisson : 20 minutes</p>

        <p class="gras">Ingrédients (pour 4 personnes) :</p>

        <ul>
            <li>- 3 cuisses de poulet</li>
            <li>- 1 oignon</li>
            <li>- Une boîte de lait de coco (40 cl)</li>
            <li>- 1 cuillère à café de pâte de curry</li>
            <li>- Sel et poivre</li>
            <li>- Huile ou margarine</li>
        </ul>
        <br>

        <p class="gras">Préparation de la recette :</p>

        <p>Couper les cuisses de poulet en deux et les faire dorer dans un wok avec une cuillère de matière grasse à feu moyen.</p>

        <p>Saler et poivrer.</p>

        <p>Emincer l'oignon et le rajouter au poulet.</p>

        <p>Laisser étuver pendant quelques minutes à feu plus doux.</p>

        <p>Emulsionner le lait de coco et l'incorporer à la préparation.</p>

        <p>Ajouter la pâte de curry, bien remuer.</p>

        <p>Laisser bouillonner à feu doux pendant 15 à 20 min.</p>

        <p>Servir avec un riz parfumé (thaï ou Surinam).</p>

    </ion-content>

</ion-view>