<ion-view view-title="recettecurry">

    <ion-content class="padding">


        <h1>Poulet au curry et noix de coco</h1>

        <img src="http://images.marmitoncdn.org/recipephotos/multiphoto/e7/e75c65bd-d0b0-4a6a-815a-0db96aa21ed0_normal.jpg" style="width: 70%">

        <p><b>Temps de préparation :</b> 15 minutes</p>

        <p><b>Temps de cuisson :</b> 20 minutes</p>

        <p><b>Ingrédients (pour 4 personnes) :</b></p>

        <ul>
            <li>- 3 cuisses de poulet</li>
            <li>- 1 oignon</li>
            <li>- Une boîte de lait de coco (40 cl)</li>
            <li>- 1 cuillère à café de pâte de curry</li>
            <li>- Sel et poivre</li>
            <li>- Huile ou margarine</li>
        </ul>
        <br>

        <p><b>Préparation de la recette :</b></p>

        <p>Couper les cuisses de poulet en deux et les faire dorer dans un wok avec une cuillère de matière grasse à feu moyen.</p>

        <p>Saler et poivrer.</p>

        <p>Emincer l'oignon et le rajouter au poulet.</p>

        <p>Laisser étuver pendant quelques minutes à feu plus doux.</p>

        <p>Emulsionner le lait de coco et l'incorporer à la préparation.</p>

        <p>Ajouter la pâte de curry, bien remuer.</p>

        <p>Laisser bouillonner à feu doux pendant 15 à 20 min.</p>

        <p>Servir avec un riz parfumé (thaï ou Surinam).</p>

    </ion-content>

</ion-view>