<ion-view view-title="Cake au jambon et aux olives">

    <ion-content class="padding">


        <h1>Cake au jambon et aux olives</h1>

        <img src="../img/cake.jpg" class="imgrecette">

        <p class="gras">Temps de préparation : 15 minutes</p>

        <p class="gras">Temps de cuisson : 60 minutes</p>

        <p class="gras">Ingrédients (pour 6 personnes) :</p>

        <ul>
            <li>- 180 g de farine de blé T80 (ou farine de grand épeautre complet type 130)</li>
            <li>- 20 g de son d’avoine (ou 20 g de farine de blé T80)</li>
            <li>- 180 g de jambon blanc supérieur découenné</li>
            <li>- 100 g d'olives vertes dénoyautées</li>
            <li>- 75 g de gruyère râpé</li>
            <li>- 3 oeufs</li>
            <li>- 12,5 cl de lait demi-écrémé (ou 12,5 cl de vin blanc sec)</li>
            <li>- 7 cl d’huile d’olive</li>
            <li>- 1 sachet de levure chimique</li>
        </ul>
        <br>

        <p class="gras">Préparation de la recette :</p>

        <p>Préchauffer le four à 180°C (thermostat 6)</p>

        <p>Couper les olives en rondelles. Couper le jambon en morceaux. </p>

        <p>Ajouter la farine et la levure dans un saladier. Faire un puits et verser les oeufs, le lait et l'huile puis mélanger. Ajouter le jambon, les olives et le gruyère puis mélanger. </p>

        <p>Mettre le tout dans un plat à cake chemisé de papier sulfurisé et enfourner pour 45 à 50 min.</p>

        <p>Démouler et ôter le papier cuisson quand le cake a légèrement tiédi.</p>

    </ion-content>

</ion-view>