<ion-view view-title="Settings">

    <ion-content class="padding">

        <p>page options!!!!!!!!!!!!!</p>
        <p>page options!!!!!!!!!!!!!</p>
        <p>page options!!!!!!!!!!!!!</p>
        <p>page options!!!!!!!!!!!!!</p>
        <p>page options!!!!!!!!!!!!!</p>
        <p>page options!!!!!!!!!!!!!</p>
        <p>page options!!!!!!!!!!!!!</p>
        <p>page options!!!!!!!!!!!!!</p>
        <p>page options!!!!!!!!!!!!!</p>
        <p>page options!!!!!!!!!!!!!</p>
        <p>page options!!!!!!!!!!!!!</p>

    </ion-content>

</ion-view>