<ion-view view-title="tarte aux pommes">

    <ion-content class="padding">


        <h1>Tarte aux pommes</h1>

        <p>Temps de préparation : 15 minutes</p>

        <p>Temps de cuisson : 20 minutes</p>

        Ingrédients / pour 6 personnes
        <ul>

            <li>- 3 ou 4 pommes (selon la grosseur)</li>
            <li> - 1 pâte brisée</li>
            <li>- 2 oeufs</li>
            <li>- 25 cl de crème fraîche</li>
            <li>- 100 g de sucre en poudre</li>
            <li>- 1 sachet de sucre vanillé</li>
        </ul><br>

        <p>Préparation de la recette :</p>

        Posez sur un fond de moule à tarte une pâte brisée que vous trouez avec une fourchette.
        Pelez et coupez les pommes en fines tranches que vous disposer sur le fond de tarte.
        Dans un saladier, mélangez le sucre, la crème fraîche, les oeufs, le sucre vanillé; versez le tout sur les pommes.
        Enfournez au four préchauffé à 200°C (th 6-7), jusqu'à ce que la tarte prenne une belle couleur dorée.


    </ion-content>

</ion-view>